@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital@1&display=swap");
/*variable css*/
:root {
  --header-height: 3rem;
  --nav-width: 324px;
  /*font weight*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  /*colors*/
  /* --first-color: #86c232; */
  --first-color: #6ca71a;
  --first-color-dark: #86c232;
  --first-color-darken: #f3d00b;
  --first-color-darken-nav: #f3b50b;
  --text-color: #fff;
  --text-color-link: #f3b50b;
  --first-color-light: #eae7e6;
  --first-color-lighten: #fff;
  --background-color: #222629;
  --text-color2: #474b4f;

  /*font and typography*/
  --body-font: "Quicksand", sans-serif;
  --dancing-font: "Dancing Script", cursive;
  --amiri-font: "Amiri", serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  /*margenes*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  /*z index*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
/*BASE*/
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color-lighten);
  color: var(--text-color);
  line-height: 1.6;
}
h1,
h2,
h3,
p {
  margin: 0;
}
h3 {
  font-weight: var(--font-semi-bold);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
/*CLASS CSS*/
.section {
  padding: 4rem 0 2rem;
}
.section-title {
  font-size: var(--h1-font-size);
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: var(--mb-3);
  text-align: center;
}
.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--first-color-darken);
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: 0.25rem;
}
/*layout*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100%-2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  /* background-color: var(--first-color-lighten); */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  background-color: var(--background-color);
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.3));
}
/*nav*/
.arrow_btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 2.2rem;
  z-index: 20;
}
.arrow_btn a i {
  background-color: var(--first-color);
  border-radius: 50%;
}
.arrow_btn a i:hover {
  background-color: var(--text-color-link);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_logo {
  font-size: 1.5rem;
  color: var(--first-color-lighten);
}
.nav_menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--first-color);
  transition: 0.5s;
}
.nav_close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--first-color-dark);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.nav_close:hover {
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
  color: crimson;
}
.nav_item {
  margin-bottom: var(--mb-4);
}
.nav_link {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--first-color-lighten);
  font-weight: var(--font-bold);
  /* transition: 0.3s; */
  /* transition: all 0.2s ease-in-out; */
  letter-spacing: 0.5rem;
}

.nav_link:hover,
.cv_link:hover {
  color: var(--text-color-link);
  transition: all 0.3s ease-in-out;
}
.nav_cv {
  margin-top: 5rem;
}
.cv_link {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--text-color2);
  font-weight: var(--font-bold);
  letter-spacing: 0.2rem;
}
.nav_toggle {
  color: var(--first-color);
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.nav_toggle:hover {
  color: var(--text-color-link);
  transform: scale(1.3);
}
.nav_toggle:focus {
  outline: none;
}

/*show menu*/
.show {
  left: 0;
}
/*active menu*/
.active {
  /* color: var(--text-color); */
  color: var(--text-color-link);
}
/*home*/

.home,
.skills,
.works,
.footer {
  background-color: var(--background-color);
}

.home_container {
  height: calc(100vh - var(--header-height));
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home_data {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  height: max-content;
  /* text-align: center; */
  padding: 2rem;
}
.home_img {
  padding-top: 0rem;
  padding-left: 0rem;
  width: 200px;
  height: 200px;
  background-color: var(--first-color);
  border-radius: 50%;
  border: 0.3rem solid #6b6e70;
  overflow: hidden;
  margin-top: 5rem;
  margin-bottom: var(--mb-2);
}
.home_img img {
  width: 100%;
}
.home_name_title {
  font-size: 1.5rem;
  padding-bottom: 4rem;
}
.home_title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--text-color);
}

.home_profession {
  /* font-size: var(--small-font-size); */
  font-size: 2.2rem;
  font-weight: bold;
  /* color: var(--first-color-dark); */
  color: white;
  margin-bottom: var(--mb-5);
}
.home_social {
  margin-bottom: 2rem;
  display: none;
}

.home_social-link {
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 0.4rem;
  margin: 0 var(--mb-1);
  z-index: -1;
  /* transition: all 0.5s ease-in-out; */
  transition: 0.3s ease-in;
}
.home_social-link:hover {
  background-color: var(--text-color-link);
  /* transform: scale(0.5); */
}
/* .home_social-link i {
  transition: 0.3s ease-in;
}
.home_social-link :hover i {
  background: var(--text-color-link);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(3);
} */

/*buttons*/
.button {
  display: inline-block;
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  border-radius: 0.5rem;
  border: 2px solid var(--first-color);
  color: var(--first-color);
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  letter-spacing: 0.1rem;
}
.button:hover {
  background-color: var(--text-color-link);
  color: white;
  border: 2px solid var(--text-color-link);

  /* border: none; */
}
.button_light {
  background-color: var(--first-color-lighten);
  color: var(--first-color);
}
.button_light:hover {
  color: var(--first-color-lighten);
}
/*about*/
.about_container {
  row-gap: 2rem;
}
.about_data {
  color: var(--text-color2);
}

/* .about_img {
  width: 150px;
  border-radius: 0.5rem;
  margin: 0 auto;
} */
.about_information {
  margin-bottom: var(--mb-4);
}
.about_information-title {
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  text-transform: uppercase;
  margin-bottom: var(--mb-2);
}
.about_information-data {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: var(--mb-3);
}
.about_information-data a,
span {
  color: var(--text-color2);
}
.about_information-icon {
  font-size: 1.5rem;
  color: var(--first-color);
  margin-right: var(--mb-4);
}
.about_information-subtitle {
  display: block;
  font-weight: var(--font-semi-bold);
}
.about_information-subtitle-small {
  font-size: var(--small-font-size);
}
/*skills*/
.skills_container {
  row-gap: 2rem;
}
.skills_subtitle {
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  text-transform: uppercase;
  margin-bottom: var(--mb-2);
}
.skills_data {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 var(--mb-2);
  margin-bottom: var(--mb-4);
}
.skills_name {
  /* text-transform: uppercase; */
  color: var(--text-color);
}
.skills_number {
  color: var(--text-color);
}
.skills_bar {
  position: absolute;
  bottom: -0.75rem;
  height: 0.25rem;
  background-color: var(--first-color);
}
.skills_html {
  width: 80%;
}
.skills_js {
  width: 50%;
}
.skills_react {
  width: 50%;
}
.skills_next {
  width: 10%;
}
.skills_bootstrap {
  width: 30%;
}
.skills_sass {
  width: 40%;
}
.skills_node {
  width: 60%;
}
.skills_express {
  width: 30%;
}
.skills_sql {
  width: 40%;
}
/*education*/
.education_container {
  row-gap: 2rem;
}
.education_school {
  font-size: var(--h3-font-size);
}
.edu_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--mb-4);
  /* flex-wrap: wrap; */
}
.edu_subtitle {
  font-size: var(--h3-font-size);
  font-weight: bold;
  color: var(--first-color-dark);
  /* text-transform: uppercase; */

  /* margin-bottom: var(--mb-2); */
}
.education_year {
  font-size: 0.8rem;
}
/*works*/
.works_container {
  justify-items: center;
}
.works_img {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}
.works_data {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--text-color-link);
  /* background: rgba(204, 75, 44, 0.7); */
  border-radius: 0.5rem;
  transition: 0.3s;
}
.works_link {
  display: inline-flex;
  font-size: 1.5rem;
  background-color: var(--first-color-lighten);
  color: var(--first-color);
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-bottom: var(--mb-2);
}
.works_title {
  font-size: var(--h2-font-size);
  color: var(--first-color-lighten);
}
.works_img:hover .works_data {
  bottom: 0;
}
/*contact*/
.contact_container {
  row-gap: 3rem;
}
.contact_input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: var(--first-color-light);
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-2);
  border-radius: 0.5rem;
}
.contact ::placeholder {
  color: var(--first-color-dark);
  font-family: var(--body-font);
  font-weight: var(--font-medium);
}
.contact_button {
  outline: none;
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  cursor: pointer;
}
.contact_info {
  margin-bottom: var(--mb-3);
}
.contact_subtitle {
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  text-transform: uppercase;
  margin-bottom: var(--mb-1);
}
.contact_text {
  display: block;
  padding-left: 1rem;
}

/*footer*/
.footer {
  /* background-color: var(--first-color-darken); */
  color: var(--first-color-lighten);
  text-align: center;
}
.footer_container {
  /* background-color: #353b48; */
  /* background-color: var(--first-color-darken); */
  padding: 1.5rem 0;
  /* border-radius: 0.5rem; */
}
.footer_title {
  color: var(--first-color-darken);
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-2);
  /* letter-spacing: 0.2rem; */
}
.footer_description {
  margin-bottom: var(--mb-2);
}
.footer_social {
  margin-bottom: 2rem;
}
.footer_link {
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 0.4rem;
  margin: 0 var(--mb-1);
  transition: all 0.2s ease-in-out;
}
.footer_link:hover {
  background-color: var(--first-color-lighten);
  color: var(--first-color);
  transform: scale(1.2);
}
.footer_copy {
  font-size: var(--smaller-font-size);
  color: var(--first-color-lighten);
}
/*media queries*/

@media screen and (min-width: 768px) {
  .home_button {
    width: initial;
  }
  .home_profession {
    font-size: 3rem;
    font-weight: bold;
  }
  .home_data {
    /* padding-top: 5rem; */
    /* align-items: center; */
    padding: 14rem;
  }
  .home_name_title {
    font-size: 2.2rem;
  }
  .home_title {
    font-size: 4.2rem;
  }
  .home_img {
    margin: 3rem 0 3rem 0;
  }
  .nav_menu {
    width: var(--nav-width);
  }
  .about_container,
  .skills_container,
  .works_container,
  .contact_container,
  .contact_inputs {
    grid-template-columns: repeat(2, 1fr);
  }
  .home_social {
    display: flex;
  }

  .about_data {
    text-align: initial;
  }
  .about_description {
    margin-bottom: var(--mb-5);
  }
  .about_img {
    width: 220px;
  }
  .about_information {
    padding-left: 4rem;
  }
  .education_year {
    font-size: 1rem;
    /* font-family: monospace; */
    /* font-weight: bold; */
    /* letter-spacing: 1px; */
  }
  .edu_subtitle {
    text-transform: uppercase;
  }
  .contact_info {
    padding-left: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  body {
    margin: 0;
    padding-left: var(--nav-width);
  }
  .l-header {
    width: 0;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  }
  .nav_toggle,
  .nav_logo,
  .nav_close {
    display: none;
  }
  .nav_menu {
    left: 0;
  }

  .home_container {
    height: 100vh;
    /* background-size: contain;
    background-repeat: no-repeat; */
  }
  .home_data {
    padding-top: 5rem;
    /* align-items: center; */
  }

  .home_profession {
    font-size: 4rem;
    font-weight: bold;
  }
  .home_img {
    margin: 3rem 0 3rem 0;
    width: 300px;
    height: 300px;
  }

  .home_social {
    margin-bottom: 3.5rem;
  }

  .section {
    padding: 3rem 1rem 2rem;
  }
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .works_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer_title {
    letter-spacing: 0.2rem;
  }
  .footer_link,
  .home_social {
    transform: scale(1.5);
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
